@media screen and (max-width: 669px){
  .app-bar .navbar .container .navbar-brand{
    margin-left: 10px;
  }
}

@media screen and (min-width: 670px) {
  .app-bar .navbar .container h1 a{
    font-size: 1em;
  }
  
  .app-bar .navbar .container .navbar-brand{
    margin-left: -70px;
  }

  .app-bar .navbar .container .navbar-toggler{
    margin-right: -70px;
  }
  .doa-list {
    grid-template-columns: 1fr 1fr;
  }
  .doa-item .title-item {
    top: 65%;
  }
  .doa-item:hover .content-item {
    top: -25%;
  }
  .doa-item .title-item a {
    font-size: 25px;
  }
}
@media screen and (min-width: 1005px) {
  .doa-item .title-item a {
    font-size: 27px;
  }
}
@media screen and (min-width: 1240px) {
  .doa-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .doa-item .title-item {
    top: 60%;
  }
  .doa-item:hover .content-item {
    top: -20%;
  }
  .doa-item .title-item a {
    font-size: 29px;
  }
}
@media screen and (max-width: 991px) {
  .navigation-wrap {
    text-align: center;
  }
  .navigation-wrap .nav-link {
    line-height: 30px;
  }
}
