*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #002366;
}
.navbar {
  width: 100%;
  background-color: #002366;
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.5);
}
.navbar a {
  color: #fa8072;
}
.navigation-wrap .nav-item {
  padding: 0 0.625rem;
  transition: all 0.3s linear;
}
.navbar-toggler i {
  color: #fa8072;
}
.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}
.skip {
  width: 100%;
  min-height: 50px;
}
.hero {
  width: 100%;
  min-height: 350px;
  background-color: grey;
  padding-top: 50px;
}
h2 {
  padding-top: 20 px;
  color: #fa8072;
  text-align: center;
}
.doa-list {
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.doa-item {
  overflow: hidden;
  position: relative;
  max-width: 300px;
  height: 250px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in-out;
}
.doa-item:hover {
  height: 325px;
}
.doa-item .img-item {
  position: relative;
  max-height: 300px;
  max-width: 300px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.doa-item .img-item img {
  max-width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.doa-item .title-item {
  bottom: 0;
  text-align: center;
  transition: 0.4 ease-in-out;
}
.doa-item .title-item h3 {
  position: relative;
}
