/* *,
*:after,
*:before {
  background-color: #002366;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #002366;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
}

/* navigation bar */

.navbar {
  width: 100%;
  background-color: #002366;
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.5);
}
.navbar a {
  color: #fa8072;
}
.navigation-wrap .nav-item {
  padding: 0 0.625rem;
  transition: all 0.3s linear;
}
.navbar-toggler i {
  color: #fa8072;
}
.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}

/* end of navigation bar */

/* 
  skip-content
*/

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #5eff00;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/* end of skip-content */

/* hero jumbotron */

.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  text-align: center;
  background-image: url("/images/heros/dummyHero.jpg");
  background-color: green;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero_inner {
  margin: 0 auto;
  max-width: 800px;
}

/* end of hero jumbotron */

/* main */


main {
  padding: 32px;
  flex: 1;
  background-color: #002366;
}

/* end of main */

.input-group button {
  background-color: #FA8072;
  color: white;
  margin-left: 10px;
}