*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  min-height: 44px;
  min-width: 44px;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.skip-link {
  position: absolute;
  top: -140px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

body {
  background-color: #002366;
}
.navigation-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #002366;
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  justify-content: space-between;
}
.navigation-wrap i {
  font-size: 27px;
}
.navbar h1 a {
  font-size: 36px;
}
.navbar a {
  font-size: 24px;
  color: #fa8072;
}
.navigation-wrap .nav-item {
  padding: 0 0.625rem;
  transition: all 0.3s linear;
}
.navbar-toggler i {
  color: #fa8072;
}
.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}
.top-banner {
  padding-top: 100px;
}
.hero {
  background-image: url("/images/aodeHero-large.jpg");
  height: 600px;
  background-color: grey;
  padding-top: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  font-size: 31px;
  padding-top: 20px;
  text-align: center;
}
#title-page {
  font-size: 36px;
  color: #fa8072;
  padding-top: 100px;
}
#doa {
  color: #fa8072;
}
.doa-list-detail {
  padding-top: 50px;
}
.fas {
  font-size: 36px;
}
#searchForm {
  justify-content: center;
  padding-top: 20px;
}
#inputDoa {
  width: 50%;
  height: 50px;
  padding-left: 10px;
}
#buttonSearch {
  font-size: 20px;
  width: 20%;
  height: 50px;
  background-color: #fa8072;
  border: 1px solid #fa8072;
  color: #fff;

  box-shadow: 0px 2px 10px -1px rgb(0, 0, 0, 19%);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
#buttonSearch:hover,
#buttonSearch:focus {
  background-color: transparent;
  color: #fa8072;
}
.doa-list {
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.doa-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  transition: 0.7s ease-in-out;
}
.doa-item .img-item {
  position: relative;
  width: 100%;
  height: 70%;
  z-index: 1;
}

.doa-item .img-item img {
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.doa-item .content-item {
  overflow: auto;
  top: -50%;
  left: 10%;
  border-radius: 10px;
  height: 40%;
  background-color: #fff;
  position: relative;
  width: 80%;
  text-align: center;
  transition: 0.7 ease-in-out;
}
.doa-item:hover .content-item {
  top: -20%;
}
.doa-item .title-item {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  top: 60%;
}
.doa-item .title-item a {
  color: #002366;
}
.card-detail {
  position: relative;
  margin-top: 64px;
  border-radius: 32px;
  background-color: #99ddcc;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.card-detail img {
  border-radius: 32px;
  max-width: 60%;
  max-height: 60%;
  margin: 32px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}
.card-title {
  font-weight: bold;
}
.card-text {
  font-size: 27px;
}
.btn-card {
  font-size: 55px;
}
button {
  min-height: 44px;
  min-width: 44px;
  border: none;
  background-color: transparent;
}
.btn-ingin-actived,
.btn-sudah-actived {
  color: #fa8072;
}

.card .container-button .d-grid button {
  margin: 8px;
  min-width: 44px;
}
footer {
  background: #002366;
  width: 100%;
  color: #fa8072;
}
.about {
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.about p {
  max-width: 500px;
  line-height: 28px;
  font-size: 14px;
  margin: 10px auto;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  color: #fa8072;
}
.socials a i {
  font-size: 1.1rem;
}
